.Rproj.user
.Rhistory
.RData
tests/testthat/test
inst/doc
demo.tar.gz
.vault
.Renviron
vignettes/*.html
build
docs
tests/testthat/montagu-reports
tests/testthat/reference/*.zip
orderly_*.tar.gz
tests/testthat/tmp
